<div class="row">
    <div class="col-sm-3">
        <span class="h6 label label-default pull-right">{{ article.category.name }}</span>
        <img ng-if="article.image" ng-src="article.image.file" class="img-rounded" />
    </div>
    <div class="col-sm-9">
        <h4>
            <span class="pull-right">p. {{ article.begin_page }}</span>
            {{ article.title }}<br />            
            <em class="small">{{ article.author_firstname }} {{ article.author_lastname }}</em>
        </h4>
        <p class="text-justify">{{ article.intro_paragraph }}</p>
    </div>
</div>