<div class="col-sm-12">
    <h2 class="text-center">Liste des numéros parus</h2>

    <nav>
        <ul class="pager">
            <li class="previous" ng-class="(p.offset + p.limit >= p.total()) && 'disabled'"><a ng-click="older()"><span aria-hidden="true">&larr;</span> Plus ancien</a></li>
            <li class="next" ng-class="p.offset == 0 && 'disabled'"><a ng-click="newer()">Plus récent <span aria-hidden="true">&rarr;</span></a></li>
        </ul>
    </nav>

    <div class="row issues_list no-gutter">
        <xpassion:issue issue="issue" admin="isLoggedIn()" ng-repeat="issue in issues_list | filter:filterIssuesAdmin | orderBy:'date':true | limitTo:p.limit:p.offset"></xpassion:issue>
    </div>

    <!--<div masonry='{ "transitionDuration" : "0.4s" , "itemSelector" : ".tile", "gutter": 0, "columnWidth": 20}'>
      <div masonry-tile class="tile" ng-repeat="issue in issues_list | filter:filterIssuesAdmin | orderBy:'date':true | limitTo:p.limit:p.offset">
        <img ng-src="{{ issue.front_cover.file }}" class="img-rounded" width="20%"/>
      </div>
    </div>-->

    <!--<div class="grid">
      <div class="grid-item" ng-repeat="issue in issues_list | filter:filterIssuesAdmin | orderBy:'date':true | limitTo:p.limit:p.offset">
        <img ng-src="{{ issue.front_cover.file }}" class="img-rounded" width="20%"/>
      </div>
    </div>-->
</div>
