
<dd class="clearfix" ng-class="{'pos-right': (index % 2)==0, 'pos-left': (index % 2)==1}">
  <div class="circ"></div>
  <div class="time">{{ news.date | date:"dd MMM yyyy" }}</div>
  <div class="events">
    <div class="pull-left" ng-if="news.image != null">
      <img ng-src="{{ news.image.file }}" class="img-responsive img-rounded events-object" width="80"/>
    </div>
    <div class="events-body">
      <h4 class="events-heading">
        {{ news.title }}&emsp;
        <span class="pull-right" ng-if="admin">
            <a class="btn btn-sm btn-danger" ng-click="trash(news)" ng-if="!news.deleted"><span class="glyphicon glyphicon-trash"></span> Supprimer</a>
            <a class="btn btn-sm btn-warning" ng-click="untrash(news)" ng-if="news.deleted"><span class="glyphicon glyphicon-refresh"></span> Remettre</a>
        </span>
      </h4>
      <p>{{ news.message }}</p>
    </div>
  </div>
</dd>
