<div ng-if="news.image != null" class="col-sm-2">
    <img ng-src="assets/images/news/{{ news.image }}" class="img-responsive" />
</div>
<div class="col-sm-10" ng-class="news.image == null && 'col-sm-offset-2' || ''">
    <h4>
        {{ news.title }}&emsp;
        <small class=""><em>{{ news.date | date:"EEEE dd MMMM yyyy 'à' HH'h'mm" }}</em></small>
        <span class="pull-right" ng-if="admin">
            <a class="btn btn-sm btn-danger" ng-click="trash(news)" ng-if="!news.deleted"><span class="glyphicon glyphicon-trash"></span> Supprimer</a>
            <a class="btn btn-sm btn-warning" ng-click="untrash(news)" ng-if="news.deleted"><span class="glyphicon glyphicon-refresh"></span> Remettre</a>
        </span>
    </h4>
    <p>{{ news.message }}</p>
</div>