<div class="col-sm-12">
    <h2 class="text-center">Actualités</h2>

    <a class="btn btn-success pull-right" ui-sref="index.news.add" ng-if="isLoggedIn()">Ajouter une actualité</a>
    <br /><br />

    <nav>
        <ul class="pager">
            <li class="previous" ng-class="(p.offset + p.limit >= p.total()) && 'disabled'"><a ng-click="older()"><span aria-hidden="true">&larr;</span> Plus ancien</a></li>
            <li class="next" ng-class="p.offset == 0 && 'disabled'"><a ng-click="newer()">Plus récent <span aria-hidden="true">&rarr;</span></a></li>
        </ul>
    </nav>

    <div>
        <xpassion:news news="news" admin="isLoggedIn()" ng-repeat="news in news_list | filter:filterNewsAdmin | orderBy:'date':true | limitTo:p.limit:p.offset"></xpassion:news>
    </div>
</div>
