<div class="col-sm-12">
    <h2 class="text-center">Abonnements</h2>
    
    <p>Le magasine X-Passion est avant tout distribué aux étudiants de l'École
    résidant sur le plateau. Cependant, les équipes successives constatent un
    désir croissant des anciens partis vers d'autres horizons mais
    souhaitant continuer à lire ces pages écrites au fil des promotions.
    C'est pourquoi X-Passion offrira prochainement une formule d'abonnement dont
    les modalités sont en train d'être finalisées.</p>

    <p>Vous trouverez alors ici tous les détails concernant l'abonnement à la
    revue X-passion</p>

</div>
