<div class="col-sm-12">
    <h2 class="text-center">Contactez-nous</h2>
    
    <p>Vous pouvez à tout moment contacter l'équipe d'X-Passion, qu'il s'agisse de demander des renseignements, de vouloir consulter une revue ou d'établir des nouveaux partenariats. écrivez-nous à <a href="mailto:contact@x-passion.polytechnique.org" title="Envoyez-nous un mail">contact@x-passion.polytechnique.org</a>.</p>

    <p>Notre adresse complète est :</p>
    <address>
        <strong>Association X-Publication</strong><br />
        École polytechnique<br />
        Kès des élèves<br />
        91128 PALAISEAU Cedex
    </address>

    <h3>Courrier des lecteurs</h3>
    <p>Nos auteurs et toute l'équipe de la rédaction sont eux aussi toujours ravis d'avoir vos impressions et en particulier toute critique constructive ou toute précision utile à leur article. Vous pouvez soit laisser un message dans l'onglet <a ui-sref="index.comments.list">Vos commentaires</a>, soit contacter directement la rédaction d'X-Passion : écrivez-nous à <a href="mailto:redac@x-passion.polytechnique.org">redac@x-passion.polytechnique.org</a>.</p>
</div>