<div class="col-sm-12">
    <h2 class="text-center">Écrire dans X-Passion</h2>
    
    <p>Chaque numéro comporte un ou deux thèmes principaux qui font l'objet de dossiers. Ceux-ci sont destinés à encourager les auteurs à écrire et à leur donner des pistes ; toutefois, ils ne sont pas exhaustifs et la politique du binet est de cultiver l'originalité et l'éclectisme de la revue. Pour avoir d'autres idées, les auteurs sont aussi invités à consulter d'anciens numéros. L'imagination et la culture débordantes dont ils sont imprégnés doit être une motivation et non un frein à la créativité ! Articles historiques, nouvelles, poésies, œuvres picturales, photographies, commentaires de livres, d'auteurs, de musique, de cinéma, de théâtre, d'opéra, travaux de séminaires ou de cours d'Humanités et Sciences Sociales ont chacun tour à tour trouvé leur place dans le magazine. Son contenu à venir, lui, n'appartient qu'aux futurs auteurs.</p>

    <p>Pour publier un article dans X-Passion, il suffit d'envoyer un document Word (<samp>.doc</samp>) ou OpenOffice (<samp>.odt</samp>) à la rédaction (<a href="mailto:redac@x-passion.polytechnique.org">redac@x-passion.polytechnique.org</a>) avant la date limite annoncée et de lui joindre, s'il y a lieu, les illustrations de l'article. L'article est ensuite relu par des électrons du binet, mis en page au local d'X-Passion, et inséré dans le magazine.</p>

    <p>Il n'y a pas de contrainte en nombre de pages, toutefois :</p>
    <ul>
        <li>prévoir un nombre raisonnable d'illustrations pour aérer le texte, qui, sinon, seront laissées à la discrétion de la rédaction ;</li>
        <li>la rédaction se réserve le droit de refuser des articles au contenu diffamatoire, susceptible de porter atteinte à l'image de l'École ou du magazine ;</li>
        <li>au cours du processus de relecture, l'application des règles d'orthographe et de grammaire en vigueur pourra entraîner des modifications mineures dans le corps de l'article. Si ces modifications impactent celui-ci de manière notable, la rédaction prendra contact avec l'auteur concerné pour s'enquérir de son approbation.</li>
    </ul>

    <p>Les articles traitant d'actualité peuvent être acceptés mais il faut compter plusieurs mois pour le temps de publication, aussi préférerez-vous peut-être les faire paraître dans l'Info Kès qui dispose de délais plus courts. En cas de doute, n'hésitez pas à en discuter avec la rédaction.</p>

    <p>Les auteurs qui le souhaitent sont invités à mettre en page eux-mêmes leur article (ou à nous donner eux-mêmes les directives de mise en page si elles ont lieu). Bien sûr, ceux qui ne le souhaitent pas sont toujours également les bienvenus au local lors de la période de mise en page !</p>
</div>