<div class="col-sm-12">
    <h3>Entreprises</h3>
    <p>Un dossier <em>entreprises</em> est publié dans chaque numéro d'X-Passion. Ce dossier, qui rassemble les témoignages d'anciens de l'école, permet aux élèves de réfléchir sereinement à leur avenir en profitant de leurs expériences professionnelles et de découvrir les meilleures entreprises dans tous les domaines où travaillent des polytechniciens. Il est le moyen d'un contact privilégié avec les élèves pour les entreprises qui souhaiteraient faire découvrir les secteurs où elles recrutent.</p>

    <p>Y sont notamment intervenus :</p>
    <ul>
        <li>[liste d'interviews, à compléter]</li>
    </ul>
</div>