<div class="col-sm-12">
    <h2 class="text-center">Entreprises</h2>

    <p>Un dossier <em>entreprises</em> est publié dans chaque numéro d'X-Passion. Ce dossier, qui rassemble les témoignages d'anciens de l'école, permet aux élèves de réfléchir sereinement à leur avenir en profitant de leurs expériences professionnelles et de découvrir les meilleures entreprises dans tous les domaines où travaillent des polytechniciens. Il est le moyen d'un contact privilégié avec les élèves pour les entreprises qui souhaiteraient faire découvrir les secteurs où elles recrutent.</p>

    <!--
    <p>Y sont notamment intervenus :</p>
    <ul>
        <li>[liste d'interviews, à compléter]</li>
    </ul>
    -->

    <div class="row well">
        <div class="col-sm-6">
            <img class="img-responsive" src="assets/images/logo-cassines.jpg" /><br />
            <img class="img-responsive" src="assets/images/logo-jgeu.jpg" />
        </div>
        <div class="col-sm-6">
            <p>Le dossier entreprises est réalisé par notre partenaire, les <a href="http://journaldesgrandesecoles.com/nos-societes/">Éditions des Cassines</a>.</p>
            <p>Contacts :
                <address>
                     <strong>Mme Mathieu</strong><br />
                    Directrice des Publications<br />
                    <a href:"mailto:mc.mathieu@edicas.fr">mc.mathieu@edicas.fr</a><br />
                </address>
                <address>
                    <strong>Mme Valérie R. Delorme</strong><br />
                    Responsable des Relations Entreprises<br />
                    <a href="mailto:grande.ecole@edicas.fr">grande.ecole@edicas.fr</a><br />
                </address>
            </p>
            <p class="text-center">
                <button class="btn btn-primary btn-circle btn-lg">
                  <span class="fa fa-twitter"></span>
                </button>
                <button class="btn btn-primary btn-circle btn-lg">
                  <span class="fa fa-facebook"></span>
                </button>
            </p>
        </div>
    </div>
</div>
