<div class="col-sm-12">
    <h2 class="text-center">Présentation</h2>

    <h3>La revue</h3>
    <p>X&#8209;Passion est une revue quadrimestrielle des élèves de l'École polytechnique. Elle offre aux élèves, mais aussi anciens, cadres et chercheurs de l'École une tribune libre où exprimer leurs passions ou intérêts et développer des analyses en profondeur des thèmes qui leur sont chers. Les articles, par leur texte, leurs illustrations et leur mise en page, se veulent de qualité, tout en cultivant l'ouverture et l'éclectisme de la revue.</p>
    <p>Le magazine est tiré à environ 1500 exemplaires et diffusé auprès des élèves et personnels de l'École.</p>

    <h3>Le binet</h3>
    <p>La collecte, la mise en page des articles et la composition de la revue est réalisée par un petit groupe d'élèves appelé &laquo;&nbsp;binet&nbsp;&raquo; dans le jargon polytechnicien.<br />
    L'équipe actuelle, pour l'année 2018, est issue de la promotion 2016 du
    cycle ingénieur et, pour la première fois, des formations
    Bachelor et Graduate Degree de l'École polytechnique.
    <blockquote>
        <dl>
            <dt>Président</dt>
            <dd>Théo Guichaoua <a href="mailto:president@x-passion.polytechnique.org" title="Envoyer un mail au président">president@x-passion.polytechnique.org</a></dd>
            <dt>Rédacteur en chef</dt>
            <dd>Joel Perez Torrents <a href="mailto:redac@x-passion.polytechnique.org" title="Envoyer un mail au rédacteur en chef">redac@x-passion.polytechnique.org</a></dd>
            <dt>Trésorier</dt>
            <dd>Emmanuel Bordelles-Viala <a href="mailto:tresorier@x-passion.polytechnique.org" title="Envoyer un mail au trésorieré">tresorier@x-passion.polytechnique.org</a></dd>
        </dl>
      </blockquote>

    <h3>Le dossier entreprises</h3>
    <p>Dans chaque numéro un <a ui-sref="index.entreprises">dossier préparé par les Éditions des Cassines</a> regroupe des interviews d'anciens élèves polytechniciens occupant des fonctions très variées. Ces articles permettent aux élèves de profiter des expériences professionnelles de leurs aînés et de découvrir leurs parcours.</p>

    <h3>Événements et partenariats</h3>
    <p>Le binet X&#8209;Passion soutient de nombreuses associations de l'École à caractère culturel, artistique ou événementiel, comme le  Jumping de l'X. Il met en place chaque année un concours de photographie dont les résultats sont publiés dans la revue avec le binet Photo, ainsi que des partenariats avec le binet Bozar.</p>
    <p>X&#8209;Passion se fait également le relais sur le campus de Polytechnique de certaines activités culturelles proposées par d’autres écoles, comme le concours de nouvelles de l’ENSTA ParisTech.</p>

    <h3>X&#8209;Publication</h3>
    <p>La revue X&#8209;Passion est publiée par le binet éponyme dont les membres constituent le bureau d'une association loi 1901 à but non lucratif, &laquo;&nbsp;X&#8209;Publication&nbsp;&raquo;. L'objet de cette association, énoncé dans ses statuts, est &laquo;&nbsp;[de publier] X&#8209;Passion, revue réalisée par les élèves de l'École polytechnique, ainsi que [d'organiser et de soutenir] toute manifestation mettant en évidence le dynamisme des élèves de l'École&nbsp;&raquo;.
</p>

    <h3>Bureaux précédents</h3>
    Pour l'année 2017, le bureau est issu de la promotion 2015&nbsp;:
    <blockquote>
        <dl>
            <dt>Président</dt>
            <dd>Thomas Sentis</dd>
            <dt>Rédactrice en chef</dt>
            <dd>Eloise Berthier</dd>
            <dt>Trésorier</dt>
            <dd>Guillaume Gette</dd>
        </dl>
      </blockquote>
    Pour l'année 2016, le bureau est issu de la promotion 2014&nbsp;:
    <blockquote>
        <dl>
            <dt>Président</dt>
            <dd>Thomas Lapôtre</dd>
            <dt>Rédacteur en chef</dt>
            <dd>Raphaël Duroselle</dd>
            <dt>Trésorier</dt>
            <dd>Daniel Coggia</dd>
        </dl>
      </blockquote>
    </p>

