<div class="col-sm-12">
    <h2 class="text-center">Présentation</h2>

    <h3>La revue</h3>
    <p>X-Passion est une revue quadrimestrielle des élèves de l'École polytechnique. Elle offre aux élèves, mais aussi anciens, cadres et chercheurs de l'École une tribune libre où exprimer leurs passions ou intérêts et développer des analyses en profondeur des thèmes qui leur sont chers. Les articles, par leur texte, leurs illustrations et leur mise en page, se veulent de qualité, tout en cultivant l'ouverture et l'éclectisme de la revue.</p>
    <p>Le magazine est tiré à environ 1500 exemplaires et diffusé auprès des élèves et personnels de l'École.</p>

    <h3>Le binet</h3>
    <p>La collecte, la mise en page des articles et la composition de la revue est réalisée par un petit groupe d'élèves appelé &laquo;&nbsp;binet&nbsp;&raquo; dans le jargon polytechnicien.<br />
    Le bureau actuel est issu de la promotion 2014 :
        <dl>
            <dt>Président</dt>
            <dd>Thomas Lapôtre <a href="mailto:president@x-passion.polytechnique.org" title="Envoyer un mail au président">president@x-passion.polytechnique.org</a></dd>
            <dt>Rédacteur en chef</dt>
            <dd>Raphaël Duroselle <a href="mailto:redac@x-passion.polytechnique.org" title="Envoyer un mail au rédacteur en chef">redac@x-passion.polytechnique.org</a></dd>
            <dt>Trésorier</dt>
            <dd>Daniel Coggia <a href="mailto:tresorier@x-passion.polytechnique.org" title="Envoyer un mail au trésorieré">tresorier@x-passion.polytechnique.org</a></dd>
        </dl>
    </p>

    <h3>Le dossier entreprises</h3>
    <p>Dans chaque numéro un dossier [lien vers l'onglet entreprises] préparé par les Éditions des Cassines regroupe des interviews d'anciens élèves polytechniciens occupant des fonctions très variées. Ces articles permettent aux élèves de profiter des expériences professionnelles de leurs aînés et de découvrir leurs parcours.</p>

    <h3>Événements et partenariats</h3>
    <p>Le binet X-Passion soutient de nombreuses associations de l'École à caractère culturel, artistique ou événementiel, comme le  Jumping de l'X . Il met en place chaque année un concours de photographie dont les résultats sont publiés dans la revue avec le binet Photo, ainsi que des partenariats avec le binet Bozar.</p>
    <p>X-Passion se fait également le relais sur le campus de Polytechnique de certaines activités culturelles proposées par d’autres écoles, comme le concours de nouvelles de l’ENSTA ParisTech.</p>

    <h3>X-Publication</h3>
    <p>La revue X-Passion est publiée par le binet éponyme dont les membres constituent le bureau d'une association loi 1901 à but non lucratif, &laquo;&nbsp;X-Publication&nbsp;&raquo;. L'objet de cette association, énoncé dans ses statuts, est &laquo;&nbsp;[de publier] X-Passion, revue réalisée par les élèves de l'École polytechnique, ainsi que [d'organiser et de soutenir] toute manifestation mettant en évidence le dynamisme des élèves de l'École&nbsp;&raquo;.
</p>
