<div class="panel panel-default">
    <div class="panel-body">
        {{ comment.message }}
    </div>
    <div class="panel-footer">
        <em>{{ comment.name && comment.name + ' • ' }}{{ comment.date | date:'EEE dd MMM yyyy, HH:mm' }} {{ comment.deleted && '(supprimé)' || '' }}</em>
        <div class="small pull-right" ng-if="admin">
            <a class="btn btn-danger btn-xs" ng-click="trash(comment)" ng-if="!comment.deleted">
                <span class="glyphicon glyphicon-trash"></span> Supprimer
            </a>
            <a class="btn btn-warning btn-xs" ng-click="untrash(comment)" ng-if="comment.deleted">
                <span class="glyphicon glyphicon-refresh"></span> Remettre
            </a>
        </div>
    </div>
</div>