<div ui-view ng-switch="surveyStatus">
	<h2 class="text-center">Sondage X&#8209;Passion</h2>
	<div ng-switch-when="401" class="text-center">
		<p>L'accès au sondage est restreint.</p>
		<a ng-href="{{frankizUrl}}" class="btn btn-success">
			Authentification Frankiz
		</a>
	</div>
	<div ng-switch-when="403" class="text-center">
		<p>Vous n'avez pas accès à ce sondage.</p>
	</div>
	<div ng-switch-when="404" class="text-center">
		<p>Aucun sondage n'est ouvert en ce moment.</p>
	</div>
	<div ng-switch-when="200">
		<p>Bienvenue blabla RGPD blabla</p>
		<div class="text-center"><a ui-sref="index.survey.answer" class="btn btn-success" class="text-center">
				Accéder au sondage
			</a></div>
	</div>
	<div ng-switch-when="201" class="text-center">
		<p>Merci d'avoir répondu !</p>
	</div>
	<div ng-switch-default class="text-center">
		<p>Authentification et chargement en cours...</p>
	</div>
</div>
