<div class="col-sm-12">
    <div class="row">
        <p>
            Bienvenue sur le site web d'X-Passion, la revue culturelle et artistique des élèves de l'École polytechnique. Profitez de ce site pour :
            <ul>
                <li><strong>découvrir</strong> ce qu'est X-Passion ;</li>
                <li><strong>rechercher</strong> des articles à travers les sommaires de tous les anciens numéros ;</li>
                <li><strong>réagir aux articles</strong> qui vous ont marqués, ou laisser un mot à la rédaction ;</li>
                <!-- <li>obtenir des conseils d'écriture (accessible pour les élèves uniquement) ;</li> -->
                <li><strong>contacter</strong> l'équipe qui gère le binet ;</li>
                <li><strong>être informé</strong> des dernières actualités de la revue.</li>
            </ul>
        </p>
    </div>
    <div class="row">
        <h3>Actualités</h3>

        <div class="col-sm-10 col-sm-offset-1">
            <xpassion:news news="news" ng-repeat="news in news_list | filter:!'deleted' | orderBy:'date':true | limitTo:10"></xpassion:news>
            <a ui-sref="index.news.list" ng-if="news_list.length > 10" class="pull-right">Voir les actualités plus anciennes...</a>
        </div>
    </div>
</div>