<div class="col-sm-12">
    <div class="row">
        <p>
            Bienvenue sur le site web d'X-Passion, la revue culturelle et artistique des élèves de l'École polytechnique. Profitez de ce site pour :
            <ul>
                <li><strong>découvrir</strong> ce qu'est X-Passion ;</li>
                <li><strong>rechercher</strong> des articles à travers les sommaires de tous les anciens numéros ;</li>
                <li><strong>réagir aux articles</strong> qui vous ont marqués, ou laisser un mot à la rédaction ;</li>
                <!-- <li>obtenir des conseils d'écriture (accessible pour les élèves uniquement) ;</li> -->
                <li><strong>contacter</strong> l'équipe qui gère le binet ;</li>
                <li><strong>être informé</strong> des dernières actualités de la revue.</li>
            </ul>
        </p>
    </div>
    <div class="row">
      <div class="jumbotron">
        <div class="jumbotron-photo">
          <img src="assets/affiche-x-passion-2.png" />
        </div>
        <div class="jumbotron-contents">
          <h1 class="text-center">Grand concours de poésie X-Passion</h1>
          <hr/>
          <h2>THÈME : LA FOLIE</h2>
          <h2>PREMIER PRIX : TRIGRAMME POSITIVÉ ! (OU UN CADEAU SURPRISE, AU CHOIX)</h2>
          <h2>DEADLINE : 31 DÉCEMBRE 2016</h2>
          <h2>Envoyez votre poème à <b>redac@x-passion.binets.fr</b></h2>
          <hr/>

          <h4>Qui peut participer ?</h4>
          <p>Tous les étudiants de l’École polytechnique (X, masters et doctorants).</p>

          <h4>Contraintes d’écriture</h4>
          <p>Le texte doit porter sur le thème « la folie ».
            Il peut être en vers ou en prose ; il sera jugé sur ses qualités poétiques.
            Il doit tenir sur une page A4.</p>

          <h4>Deadline</h4>
          <p>Les participants doivent envoyer leur texte avant le 31 décembre 2016 à 23h59.</p>

          <h4>Document à envoyer</h4>
          <p>Les participants doivent nous envoyer leur texte au format PDF (taille de police supérieure ou égale à 10) ;
            le document ne doit faire qu’une page A4.</p>

          <h4>Jury</h4>
          <p>Le jury du concours se compose des membres X2014 et X2015 du binet
            X-Passion (Association X Publication).</p>

          <h4>Prix</h4>
          <p>Les prix seront remis dans le courant du mois de janvier. Les lauréats seront informés à l’avance de la date, de l’heure et du lieu de la remise des prix.
S’il possède un trigramme, le lauréat aura le choix entre la « positivation » de son trigramme et un lot surprise, qui lui sera dévoilé avant qu’il effectue son choix. La positivation du trigramme s’effectue dans la limite de 100€ ; le cas échéant, l’argent sera directement versé sur le trigramme. Si le lauréat ne possède pas de trigramme, il recevra le lot surprise.
Deux autres prix seront attribués : le deuxième prix et le troisième prix, chacun accompagné d’un cadeau. Un prix spécial pourra être remis.</p>

          <h4>Publication</h4>
          <p>X-Passion se réserve le droit de publier librement les poèmes de tous
            les participants dans le numéro 75 de X-Passion, qui a pour thème « la folie ».</p>
        </div>
      </div>
    </div>
    <!--
    <div class="row">
      <div class="striked"><h3 class="striked-text">Actualités</h3></div>

      <a class="btn btn-success pull-right" ui-sref="index.news.add" ng-if="isLoggedIn()">Ajouter une actualité</a>
      <br /><br />

      <div class="timeline">
          <dl>
            <xpassion:news news="news" admin="isLoggedIn()" index="$index" ng-repeat="news in news_list | filter:filterNewsAdmin | orderBy:'date':true | limitTo:p.limit:p.offset"></xpassion:news>
          </dl>
      </div>
    </div>
  -->
</div>
