<div class="col-sm-12">
    <div class="row">
        <p>
            Bienvenue sur le site web d'X&#8209;Passion, la revue culturelle et
	    artistique des élèves de l'École polytechnique. Profitez de ce site
	    pour&nbsp;:
            <ul>
                <li><strong>découvrir</strong> ce qu'est X&#8209;Passion&nbsp;;</li>
                <li><strong>rechercher</strong> des articles à travers les
			sommaires de tous les anciens numéros&nbsp;;</li>
                <li><strong>réagir aux articles</strong> qui vous ont marqués,
			ou laisser un mot à la rédaction&nbsp;;</li>
                <!-- <li>obtenir des conseils d'écriture (accessible pour les
			élèves uniquement)&nbsp;;</li> -->
                <li><strong>contacter</strong> l'équipe qui gère le binet&nbsp;;</li>
                <li><strong>être informé</strong> des dernières actualités de la revue.</li>
            </ul>
        </p>
    </div>
    <div class="row">
      <div class="striked"><h3 class="striked-text">Actualités</h3></div>

      <a class="btn btn-success pull-right" ui-sref="index.news.add"
					    ng-if="canEdit()">Ajouter une actualité</a>
      <br /><br />

      <div class="timeline">
          <dl>
            <xpassion:news news="news" admin="canEdit()" index="$index" ng-repeat="news in news_list | filter:filterNewsAdmin | orderBy:'date':true | limitTo:p.limit:p.offset"></xpassion:news>
          </dl>
      </div>
    </div>
</div>
