<div class="page-header text-center">
  <a ui-sref="index">
    <img src="assets/images/logo-x-passion.png" class="smaller-header" />
  </a>
</div>

<div class="navbar-wrapper">
  <div class="container-fluid">
    <nav class="navbar navbar-light navbar-static-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--<a class="navbar-brand" ui-sref="index">
                    <img src="assets/images/logo-x-passion.png" width="100" />
                </a>-->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li ng-class="infos.active == 'home' && 'active' || ''">
                        <a ui-sref="index">
                            <!--<span class="glyphicon glyphicon-info-sign"></span>--> Accueil
                        </a>
                    </li>
                    <li ng-class="infos.active == 'presentation' && 'active' || ''">
                        <a ui-sref="index.presentation">
                            <!--<span class="glyphicon glyphicon-info-sign"></span>--> X-Passion
                        </a>
                    </li>
                    <li ng-class="infos.active == 'issues' && 'active' || ''">
                        <a ui-sref="index.issues.list">
                            <!--<span class="glyphicon glyphicon-th-list"></span>--> Numéros
                        </a>
                    </li>
                    <!--<li ng-class="infos.active == 'news' && 'active' || ''">
                        <a ui-sref="index.news.list">
                            Actualités
                        </a>
                    </li>-->
                    <li ng-class="infos.active == 'entreprises' && 'active' || ''">
                        <a ui-sref="index.entreprises">
                            <!--<span class="glyphicon glyphicon-globe"></span>--> Entreprises
                        </a>
                    </li>
                    <!--<li ng-class="infos.active == 'comments' && 'active' || ''">
                        <a ui-sref="index.comments.list">
                            <span class="glyphicon glyphicon-send"></span> Vos commentaires
                        </a>
                    </li>-->
                    <li ng-class="infos.active == 'ecrire' && 'active' || ''">
                        <a ui-sref="index.ecrire">
                            <!--<span class="glyphicon glyphicon-leaf"></span>--> Écrire
                        </a>
                    </li>
                    <li ng-class="infos.active == 'abonnements' && 'active' || ''">
                        <a ui-sref="index.abonnements">
                          Abonnements
                        </a>
                    </li>
                    <li ng-class="infos.active == 'contact' && 'active' || ''">
                        <a ui-sref="index.contact">
                          <!--  <span class="glyphicon glyphicon-earphone"></span>--> Contact
                        </a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>
  </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-xs-12">
            <div class="row">
                <div ui-view="header"></div>
            </div>

            <div id="main-content" class="row">
                <div ui-view=""></div>
            </div>

        </div>
    </div>

    <div class="row">
      <footer class="footer">
        <div class="container">
          <div class="footer-copyright text-center">
              &copy 2016
              <ul class="list-inline small">
                  <li ng-if="!isLoggedIn()"><a href="" ng-click="loginOpen()">Connexion</a></li>
                  <li ng-if="isLoggedIn()"><a href="" ng-click="logout()">Déconnexion</a></li>

              </ul>
              <br />
          </div>
        </div>
      </footer>
    </div>
</div>
